<h1>Sign up complete</h1>
<img src = "http://weightlesschronicles.com/wp-content/uploads/2013/04/secret.jpg" width = 200px>
<li><a href = "/register">SignUp</a></li>
<li><a href = "/login">SignIn</a></li>
<li><a href = "/logout">SignOut</a></li>