<%include partials/header %>
<h1><%=nameVar.toUpperCase() %> fell in love with my garden</h1>
<% if(nameVar.toLowerCase() === "rusty") {%>
<h3><strong><i>Good Choice</i></strong></h3>
<%}%>
<%include partials/footer %>